<!-- Sidebar Fragment -->
<div th:fragment="sidebar">
    <div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark">
                            <a th:href="@{/dashboard}" class="logo">
                    <img
                        th:src="@{/assets/img/notaSyncLogo-removebg-preview.png}"
                        alt="navbar brand"
                        class="navbar-brand"
                        height="200"
                    />
                </a>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="gg-menu-right"></i>
                    </button>
                    <button class="btn btn-toggle sidenav-toggler">
                        <i class="gg-menu-left"></i>
                    </button>
                </div>
                <button class="topbar-toggler more">
                    <i class="gg-more-vertical-alt"></i>
                </button>
            </div>
            <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
            <div class="sidebar-content">
                <ul class="nav nav-secondary">
                    <li class="nav-item">
                        <a
                            data-bs-toggle="collapse"
                            href="#dashboard"
                            class="collapsed"
                            aria-expanded="false"
                        >
                            <i class="fas fa-home"></i>
                            <p>Dashboard</p>
                            <span class="caret"></span>
                        </a>
                       <div class="collapse" id="dashboard">
    <ul class="nav nav-collapse">
        <li>
            <a th:href="@{/dashboard}">
                <span class="sub-item">Indicadores Fiscais</span>
            </a>
        </li>
    </ul>
</div>

                    </li>
                    <li class="nav-section">
                        <span class="sidebar-mini-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                        <h4 class="text-section">Consultas </h4>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#base">
                            <i class="fas fa-layer-group"></i>
                            <p>NFe</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="base">
                            <ul class="nav nav-collapse">
                              <li>
                                <a th:href="@{/notafiscal}">
                                  <span class="sub-item">Notas Fiscais de entrada</span>
                                </a>
                              </li>
                              <li>
                                <a data-bs-toggle="collapse" href="#fornecedores" class="collapsed" aria-expanded="false">
                                  <span class="sub-item">Fornecedores</span>
                                  <span class="caret"></span>
                                </a>
                                <div class="collapse" id="fornecedores">
                                  <ul class="nav nav-collapse subnav">
                                    <li>
                                      <a th:href="@{/emitente}">
                                        <span class="sub-item">Lista de Fornecedores</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Fragment -->
 